@model IEnumerable<Grade>
 
<h1> Grade Listing</h1>
<hr>
@Html.ActionLink("Add Record","Create")
<table class='table'>
    <thead>
        <th>@Html.DisplayNameFor(m=>m.GradeId)</th>
        <th>@Html.DisplayNameFor(m=>m.GradeName)</th>
        <th>@Html.DisplayNameFor(m=>m.Section)</th>
       
    </thead>
    <tbody>
        @foreach(var data in @Model)
        {
            <tr>
                <td>@data.GradeId</td>
                <td>@data.GradeName</td>
                <td>@data.Section</td>
                <td>@Html.ActionLink("Display","Display",new{id=@data.GradeId})</td>&nbsp;&nbsp;
                <td>@Html.ActionLink("Edit","Edit",new{id=@data.GradeId})</td>&nbsp;&nbsp;
                <td>@Html.ActionLink("Delete","Delete",new{id=@data.GradeId})</td>&nbsp;&nbsp;
            </tr>
        }
    </tbody>
</table>