@using System.Data
@model DataTable
<h1>
    Product Listing
</h1>
<hr>
<table class="table">
    <th>Id</th>
    <th>Name</th>
    <th>price</th>
    <th>stock</th>
    <tbody>
        @foreach(DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["Id"]</td>
                <td>@dr["Name"]</td>
                <td>@dr["price"]</td>
                <td>@dr["stock"]</td>
                <td></td>
                <td>@Html.ActionLink("Display","Display","Product",new{id=@dr["Id"]});</td>
            </tr>
        }
    </tbody>
</table>