@model IEnumerable<ProdMvc.Models.Product>
    <h1>Product Listing</h1>
    <hr>
    @Html.ActionLink("Add Record","Create")
    <hr>
    <table class='table'>
        <thead>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th>@Html.DisplayNameFor(m=>m.price)</th>
            <th>@Html.DisplayNameFor(m=>m.stock)</th>
        </thead>
        <tbody> 
            @foreach (var data in @Model)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.price</td>
                    <td>@data.stock</td>
                    <td>@Html.ActionLink("Display","Display",new{id=@data.Id})</td>&nbsp;&nbsp;
                    <td>@Html.ActionLink("Edit","Edit",new{id=@data.Id})</td>&nbsp;&nbsp;
                    <td>@Html.ActionLink("Delete","Delete",new{id=@data.Id})</td>&nbsp;&nbsp;
                </tr>
            }
        </tbody>
    </table>