@model IEnumerable<Employee>

<h2>Employee Listing</h2>
<hr>
<div style="text-align:right">
<a asp-controller="Emp" asp-action="Create">Add Employee</a>
</div>
<table class="table">
    <thead>
        <th>
            @Html.DisplayNameFor(e=>e.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(e=>e.Name)
        </th>
        <th>
            @Html.DisplayNameFor(e=>e.Dept.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(e=>e.Dept.Location)
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(e=>item.EmpId)</td>
                <td>@Html.DisplayFor(e=>item.Name)</td>
                <td>@Html.DisplayFor(e=>item.Dept.DeptName)</td>
                <td>@Html.DisplayFor(e=>item.Dept.Location)</td>
                <td>
                    <a asp-controller="Employee" asp-action="Display" asp-route-id=item.Id>Display</a>
                </td>
            </tr>           
        }
    </tbody>
</table>